.main-header {
  width: 980px;
  margin: 0 auto;
  padding: 0 1em;
  height: 6.5em;
  display: flex;
  align-content: flex-start;
  position: relative;
  justify-content: space-around;
  flex-flow: row wrap;

  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    padding: 0;
    width: 100vw;
  }
  @media only screen
  and (max-width: 767px) {
    padding: 0;
    width: 100vw;
  }
  // Medium screens
  @media only screen
  and (min-width : 768px)
  and (max-width : 1600px) {
    width: calc(100vw - 100px);
  }
  // Large screens
  @media only screen
  and (min-width : 1600px) {
    width: 1540px;
    height: 120px;
  }

  .logo {
    width: 14em;
    height: 14em;
    position: absolute;
    top: .8em;
    left: -2.6em;
    min-width: auto;

    @media only screen
    and (max-width: 767px) {
      width: 8em;
      height: 7em;
      top: .5em;
      left: 1.5em;
    }

    a {
      display: block;
      width: inherit;
      height: inherit;
      // background-image: url(../images/griffmonkey-logo.svg);
      background-image: url(../images/brand-5orange.gif);
      background-repeat: no-repeat;
      background-position: 60% 0;
      // background-size: contain;

      @media only screen
      and (min-device-width : 320px)
      and (max-device-width : 480px) {
        background-size: cover;
      }
      @media only screen
      and (max-width: 767px) {
        background-size: cover;
      }
    }
  }
  h1 {
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 8px;
    margin-left: 3.9em;
    margin-top: 2em;
    min-width: auto;
    flex-grow: 2;
    z-index: 8;

    @media only screen
    and (max-width: 767px) {
      font-size: 6.5vw;
      line-height: 0.5;
      margin-top: 1em;
      margin-left: 4em;
      width: auto;
      display: inline-block;
      text-align: right;
    }

    a {
      color: $lt;

      &:hover {
        letter-spacing: 9px;
      }
      strong {
        color: $bl;
        font-weight: 400;
      }
    }
  }
}



