  article {
    width: calc(100vw - 100px);
  }
  section {
    width: calc(100vw - 320px);
    margin-right: 20px;
  }

// HEADER 
  .main-header {
    width: calc(100vw - 100px);
  }

// NAV 
  .main-menu {
    padding: 0 0 10px 160px;
  }