.main-header {
  width: calc(100vw - 100px);
}
.main-menu {
  width: calc(100vw - 100px);
  margin: auto;
}
article {
  width: 1480px;
}
section {
  width: 1200px;
  padding: 3em;
  margin-right: 20px;

  .post {
    iframe {
      height: 621px;
    }
  }
}