// HEADER 
  .main-header {
    
    
    form {
      width: 100%;
      text-align: right;
      font-size: 80%;

      fieldset {
        width: 100%;
      }
      &.search {
        top: .5em;
        right: .5rem;
      }
    }
  }

  
// ASIDE 
  aside {
    width: 100%;
    margin-top: 1em;
  }


// FOOTER 
 footer {
  ul {

  }
  li {

  }
  .search-footer {
    width: 100%;

    label {
      display: none;
    }
  }
 }
